.navbar-section {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 90px;
    .navbar {
        .logo      
        {
            font-size: 34px;
            line-height: 40px;
            font-weight: 700;
            text-decoration: none;
            font-family: Pacifico, sans-serif;
            color: #000;
        }
        .nav {
            margin-left: auto !important;
            background-color: white;
            .link{
                text-decoration: none;
                border: 1px 0 solid red;
                padding: 20px 15px;
                font-family: Poppins, sans-serif;
                color: #6c6c6c;
                font-size: 12px;
                line-height: 22px;
                font-weight: 500;
                letter-spacing: 2px;
                text-transform: uppercase;
                background-color: white;
                &:hover{
                    color: #000;
                }
            }
        }
        .navbar-collapse{
            background-color: white;
        }
        .navbar-toggler{
            border: none;
}
        .navbar-toggler:focus {
            box-shadow: none;
            border: none;
        }
    }
}